/*body {*/
/*  background-color: #ffffe1;*/
/*  color: #3d3d3d;*/
/*  font-family: "American Typewriter", monospace;*/
/*  !*font-family: "Bodoni 72 Oldstyle";*!*/
/*  !*font-family: "Andale Mono";*!*/
/*  !*font-family: "Yuppy TC";*!*/
/*}*/

/*button {*/
/*  background-color: rgb(168, 199, 255);*/
/*  border-color: #444;*/
/*  border-style: solid;*/
/*  border-radius: 3px;*/
/*  padding: 10px;*/
/*  cursor: pointer;*/
/*  font-size: large;*/
/*}*/

/*button:hover {*/
/*  background-color: rgb(101, 158, 255);*/
/*}*/

/*fieldset {*/
/*  border-radius: 3px;*/
/*  border-style: solid;*/
/*  border-color: #888;*/
/*  padding: 20px;*/
/*  background-color: rgba(255, 255, 255, 0.50);*/
/*}*/

/*fieldset > *:not(:first-child) {*/
/*  margin-top: 20px;*/
/*}*/

/*input, select {*/
/*  font-family: "American Typewriter", monospace;*/
/*  padding: 10px;*/
/*  border-radius: 2px;*/
/*  border-style: solid;*/
/*  border-color: #444;*/
/*  font-size: large;*/
/*}*/

.button.pb-copy {
    background: 0 0;
    border: none;
    color: #4a4a4a;
    cursor: pointer;
    font-size: .625rem;
    outline: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: absolute;
    right: .25rem;
    top: .25rem;
}